<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/13/plot" value="false" />
    <add key="/intelcpu/0/load/14/plot" value="false" />
    <add key="/intelcpu/0/load/15/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/16/plot" value="false" />
    <add key="/intelcpu/0/load/17/plot" value="false" />
    <add key="/intelcpu/0/load/18/plot" value="false" />
    <add key="/intelcpu/0/load/19/plot" value="false" />
    <add key="/intelcpu/0/load/20/plot" value="false" />
    <add key="/intelcpu/0/load/21/plot" value="false" />
    <add key="/intelcpu/0/load/22/plot" value="false" />
    <add key="/intelcpu/0/load/23/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/temperature/11/plot" value="false" />
    <add key="/intelcpu/0/temperature/12/plot" value="false" />
    <add key="/intelcpu/0/temperature/13/plot" value="false" />
    <add key="/intelcpu/0/temperature/14/plot" value="false" />
    <add key="/intelcpu/0/temperature/15/plot" value="false" />
    <add key="/intelcpu/0/temperature/16/plot" value="false" />
    <add key="/intelcpu/0/temperature/17/plot" value="false" />
    <add key="/intelcpu/0/temperature/18/plot" value="false" />
    <add key="/intelcpu/0/temperature/19/plot" value="false" />
    <add key="/intelcpu/0/temperature/20/plot" value="false" />
    <add key="/intelcpu/0/temperature/21/plot" value="false" />
    <add key="/intelcpu/0/temperature/22/plot" value="false" />
    <add key="/intelcpu/0/temperature/23/plot" value="false" />
    <add key="/intelcpu/0/temperature/24/plot" value="false" />
    <add key="/intelcpu/0/temperature/25/plot" value="false" />
    <add key="/intelcpu/0/temperature/26/plot" value="false" />
    <add key="/intelcpu/0/temperature/27/plot" value="false" />
    <add key="/intelcpu/0/temperature/28/plot" value="false" />
    <add key="/intelcpu/0/temperature/29/plot" value="false" />
    <add key="/intelcpu/0/temperature/30/plot" value="false" />
    <add key="/intelcpu/0/temperature/31/plot" value="false" />
    <add key="/intelcpu/0/temperature/32/plot" value="false" />
    <add key="/intelcpu/0/temperature/33/plot" value="false" />
    <add key="/intelcpu/0/temperature/34/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/9/plot" value="false" />
    <add key="/intelcpu/0/clock/10/plot" value="false" />
    <add key="/intelcpu/0/clock/11/plot" value="false" />
    <add key="/intelcpu/0/clock/12/plot" value="false" />
    <add key="/intelcpu/0/clock/13/plot" value="false" />
    <add key="/intelcpu/0/clock/14/plot" value="false" />
    <add key="/intelcpu/0/clock/15/plot" value="false" />
    <add key="/intelcpu/0/clock/16/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/voltage/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/5/plot" value="false" />
    <add key="/intelcpu/0/voltage/6/plot" value="false" />
    <add key="/intelcpu/0/voltage/7/plot" value="false" />
    <add key="/intelcpu/0/voltage/8/plot" value="false" />
    <add key="/intelcpu/0/voltage/9/plot" value="false" />
    <add key="/intelcpu/0/voltage/10/plot" value="false" />
    <add key="/intelcpu/0/voltage/11/plot" value="false" />
    <add key="/intelcpu/0/voltage/12/plot" value="false" />
    <add key="/intelcpu/0/voltage/13/plot" value="false" />
    <add key="/intelcpu/0/voltage/14/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/vram/data/2/plot" value="false" />
    <add key="/vram/data/3/plot" value="false" />
    <add key="/vram/load/1/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/voltage/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/5/plot" value="false" />
    <add key="/gpu-nvidia/0/load/10/plot" value="false" />
    <add key="/gpu-nvidia/0/load/6/plot" value="false" />
    <add key="/gpu-nvidia/0/load/7/plot" value="false" />
    <add key="/gpu-nvidia/0/load/9/plot" value="false" />
    <add key="/gpu-nvidia/0/load/11/plot" value="false" />
    <add key="/gpu-nvidia/0/load/8/plot" value="false" />
    <add key="/gpu-nvidia/0/load/12/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/2/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/gpu-nvidia/0/power/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/clock/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/plot" value="false" />
    <add key="/nvme/0/temperature/0/plot" value="false" />
    <add key="/nvme/0/temperature/1/plot" value="false" />
    <add key="/nvme/0/temperature/2/plot" value="false" />
    <add key="/nvme/0/temperature/10/plot" value="false" />
    <add key="/nvme/0/temperature/11/plot" value="false" />
    <add key="/nvme/0/level/20/plot" value="false" />
    <add key="/nvme/0/data/21/plot" value="false" />
    <add key="/nvme/0/data/22/plot" value="false" />
    <add key="/nvme/0/factor/23/plot" value="false" />
    <add key="/nvme/0/factor/24/plot" value="false" />
    <add key="/nvme/0/load/30/plot" value="false" />
    <add key="/nvme/0/data/31/plot" value="false" />
    <add key="/nvme/0/data/32/plot" value="false" />
    <add key="/nvme/0/load/51/plot" value="false" />
    <add key="/nvme/0/load/52/plot" value="false" />
    <add key="/nvme/0/load/53/plot" value="false" />
    <add key="/nvme/0/throughput/54/plot" value="false" />
    <add key="/nvme/0/throughput/55/plot" value="false" />
    <add key="/nvme/0/level/100/plot" value="false" />
    <add key="/nvme/0/level/101/plot" value="false" />
    <add key="/nvme/0/level/102/plot" value="false" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/data/2/plot" value="false" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/data/3/plot" value="false" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/load/1/plot" value="false" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/data/2/plot" value="false" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/data/3/plot" value="false" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/load/1/plot" value="false" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/data/2/plot" value="false" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/data/3/plot" value="false" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/load/1/plot" value="false" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/data/2/plot" value="false" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/data/3/plot" value="false" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/load/1/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/energy/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/energy/1/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="1205" />
    <add key="mainForm.Location.Y" value="532" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/plot" value="false" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/power/0/name" value="Discharge Rate" />
    <add key="/battery/SR-Real-Battery_1/current/0/name" value="Discharge Current" />
    <add key="/battery/SR-Real-Battery_1/energy/2/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/level/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/voltage/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/current/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/power/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/timespan/0/plot" value="false" />
    <add key="/battery/SR-Real-Battery_1/energy/0/values" value="" />
    <add key="/battery/SR-Real-Battery_1/energy/1/values" value="" />
    <add key="/battery/SR-Real-Battery_1/level/1/values" value="" />
    <add key="/battery/SR-Real-Battery_1/level/0/values" value="H4sIAAAAAAAEAFO7dMluocR9D8u/+Y4xwRdYGIAAxAYAW8gnUBgAAAA=" />
    <add key="/battery/SR-Real-Battery_1/voltage/0/values" value="H4sIAAAAAAAEAFO7dMluocR9D16mDMdLttFMDECw+2SGY5doKZg9/V26IwB3MBAIJAAAAA==" />
    <add key="/battery/SR-Real-Battery_1/energy/2/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYLLreY4AssDCAAZAMA9rgbIhgAAAA=" />
    <add key="/battery/SR-Real-Battery_1/current/0/values" value="H4sIAAAAAAAEAFO7dMluocR9j+d/W+wv2UYzMQDBd5ZM+y7RUjBb6VuDPQAvTy6JJAAAAA==" />
    <add key="/battery/SR-Real-Battery_1/power/0/values" value="H4sIAAAAAAAEAFO7dMluocR9jzC+QsdLttFMDEAQ9STYsUu0FMzumJbpCAAytQ5dJAAAAA==" />
    <add key="/battery/SR-Real-Battery_1/timespan/0/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYJFtdLttFMDCBQI+7K7lYKYZ/hdwUAwAbEGCQAAAA=" />
    <add key="/battery/SR-Real-Battery_1/temperature/0/values" value="" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/data/2/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/data/3/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/throughput/7/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/throughput/8/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7BB8B6F2C9-8C06-44DB-967C-687368297456%7D/load/1/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/data/2/values" value="H4sIAAAAAAAEAFO7dMluocR9D+GXkTaXbKOZGICg+22kTVh2Kpg9gyPKBgDmeTlSJAAAAA==" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/data/3/values" value="H4sIAAAAAAAEAFO7dMluocR9j/a8WXaXbKOZGIDgJZAdlp0KZk/Ln2UHAP8G3ZokAAAA" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/throughput/7/values" value="H4sIAAAAAAAEAFO7dMluocR9D5kIb9dLttFMDEDwfrWiU1h2Kpj9Ye11FwDK2bNBJAAAAA==" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/throughput/8/values" value="H4sIAAAAAAAEAFO7dMluocR9D84OW7dLttFMDEBgZ93iFJadCmYn8G9wAQA4AZxjJAAAAA==" />
    <add key="/nic/%7BAF0ABE1A-5D3F-4042-8BD9-AFCF226C783A%7D/load/1/values" value="H4sIAAAAAAAEAFO7dMluocR9jzuL9W0v2UYzMYDAxtmWYdmpYPY/eX4bANxxBhkkAAAA" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/data/2/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/data/3/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/throughput/7/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/throughput/8/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B5F2B9DAD-7D9C-45E8-97E9-8D3261E7AD71%7D/load/1/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/data/2/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/data/3/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/throughput/7/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/throughput/8/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/nic/%7B862C5152-CD89-4D29-897D-84BE1352DF40%7D/load/1/values" value="H4sIAAAAAAAEAFO7dMluocR9DwYg0Fh5gIUBCgDB/czKGAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/clock/0/values" value="H4sIAAAAAAAEAHu155zdQon7HgwMVc6P/8UwMYDBQ+fbO5Kg7BPOADHMzZAkAAAA" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/0/values" value="H4sIAAAAAAAEAHu155zdQon7Hh/urHZ5/C+GiQEIHL6sdrm9IwnMviCx1gUAquclbiQAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/1/values" value="H4sIAAAAAAAEAHuyId1+ocR9j6JvLW7WhrFMDEDw90uLWy5DMpi95VGLGwCczOvsJAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/smalldata/2/values" value="H4sIAAAAAAAEAHu155zdQon7Ho5b+t32bd/PwgAEIDYA29JVRhgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/power/0/values" value="H4sIAAAAAAAEAHu155zdQon7HnGzVW0f/4thYgACB19fm9s7ksDshI/5tgA3EzqQJAAAAA==" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/0/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/1/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/2/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/3/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/4/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/5/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/6/values" value="H4sIAAAAAAAEAHu155zdQon7HtbHpzk8/hfDxAAEsX8W2N/ekQRmpwQdcQAA2KCD0SQAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/7/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/8/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/9/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/10/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/11/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-intel-integrated/%5C%5C%3F%5CPCI%23VEN_8086%26DEV_7D55%26SUBSYS_C1D8144D%26REV_08%233%2611583659%260%2610%23%7B1ca05180-a699-450a-9a0c-de4fbe3ddd89%7D/load/12/values" value="H4sIAAAAAAAEAHu155zdQon7HgxAsG/7fhYGKAAAbp3LxBgAAAA=" />
    <add key="/gpu-nvidia/0/temperature/0/values" value="H4sIAAAAAAAEAIvZoGO3UOK+BwODgtNs00gmBjBQcHIr+ANlKzkBABiI5EwkAAAA" />
    <add key="/gpu-nvidia/0/temperature/2/values" value="H4sIAAAAAAAEADNv17VbKHHfg8HAxulAXAQTAwh02Dht0EiBsAPsnOR6EiBsDzsnADV/4fswAAAA" />
    <add key="/gpu-nvidia/0/temperature/3/values" value="H4sIAAAAAAAEADNv17VbKHHfg4HBxulAXAQTAxjYOW3QSIGz5XoSoGwHJwCzL2inMAAAAA==" />
    <add key="/gpu-nvidia/0/clock/0/values" value="H4sIAAAAAAAEANN9qGe3UOK+BwNDkLNUlAw7AxgEOQMAafNtQRgAAAA=" />
    <add key="/gpu-nvidia/0/clock/4/values" value="H4sIAAAAAAAEANN9qGe3UOK+B0PDKWepKBl2BhAAsgH41d+BGAAAAA==" />
    <add key="/gpu-nvidia/0/load/0/values" value="H4sIAAAAAAAEALM6om+3UOK+BwMQ8JZLszNAAQBPmNL3GAAAAA==" />
    <add key="/gpu-nvidia/0/load/1/values" value="H4sIAAAAAAAEALM6om+3UOK+BwMQ8JZLszNAAQBPmNL3GAAAAA==" />
    <add key="/gpu-nvidia/0/load/2/values" value="H4sIAAAAAAAEALM6om+3UOK+BwMQ8JZLszNAAQBPmNL3GAAAAA==" />
    <add key="/gpu-nvidia/0/load/3/values" value="H4sIAAAAAAAEAHu9xsBuocR9j92GyQ4xfVLsDEAAYgMAs1AVshgAAAA=" />
    <add key="/gpu-nvidia/0/voltage/0/values" value="H4sIAAAAAAAEANvVbGC3UOK+xzp3Rfve7VLsDEAAYgMASO6ZOhgAAAA=" />
    <add key="/gpu-nvidia/0/power/0/values" value="H4sIAAAAAAAEAHu9xsBuocR9j5znoQ6n4sOYGIDAjkvX4bhdCpTd5nD6fTyYXfmyzQEAX09TijAAAAA=" />
    <add key="/gpu-nvidia/0/throughput/0/values" value="H4sIAAAAAAAEABP7YWK3UOK+B8OHs558LuFMDCCwYLdn0JQUCLuF17s4LAHCZnD2AAAfjQM0MAAAAA==" />
    <add key="/gpu-nvidia/0/throughput/1/values" value="H4sIAAAAAAAEAOtebWm3UOK+BwNDifsJ8XAmBjAocQ95mQJhL3ju8TIuAcJuWOUOACmv9xgwAAAA" />
    <add key="/gpu-nvidia/0/smalldata/3/values" value="H4sIAAAAAAAEABPZq223UOK+B4NCs8NjjSgmBhAAsj/cSIawN7g4SPckwMUBLF92LDAAAAA=" />
    <add key="/gpu-nvidia/0/smalldata/4/values" value="H4sIAAAAAAAEABPZq223UOK+B0PDMvt3vXLsDCAAZAMAhr0ZbxgAAAA=" />
    <add key="/gpu-nvidia/0/load/5/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/6/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQPNaIYmKAgg83ksHsE0vtbaV7EuDiAP7oIC8wAAAA" />
    <add key="/gpu-nvidia/0/load/7/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/8/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/9/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/10/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/11/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/load/12/values" value="H4sIAAAAAAAEABPZq223UOK+BwMQvOuVY2eAAgB5hEwYGAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/0/values" value="H4sIAAAAAAAEAHu9xsBuocR9DwaJna4xfVLsDCAAZAMA8dquJhgAAAA=" />
    <add key="/gpu-nvidia/0/smalldata/1/values" value="H4sIAAAAAAAEAHu9xsBuocR9DwaGKOeYPil2BjCIcgYAJuRq8BgAAAA=" />
    <add key="/gpu-nvidia/0/smalldata/2/values" value="H4sIAAAAAAAEAHu9xsBuocR9D4YX+11j+qTYGUAAyAYABm8pdRgAAAA=" />
    <add key="/vram/data/2/values" value="H4sIAAAAAAAEAEtU2mm3UOK+h+nWesf23YlMDEAQdane8VF+Mpi9elKtIwC9h7UOJAAAAA==" />
    <add key="/vram/data/3/values" value="H4sIAAAAAAAEAEtU2mm3UOK+h5FTj2P77kQmBiCYb9zj+Cg/GcwuC+51BACmMKS/JAAAAA==" />
    <add key="/vram/load/1/values" value="H4sIAAAAAAAEAEtU2mm3UOK+h/p+O6f23YlMDEDw5Iqd06P8ZDC7VN3WCQBRJ769JAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEtU2mm3UOK+x7lLWY7tuxOZGIBg8dcsx0f5yWD288xMRwCdnCnZJAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEtU2mm3UOK+R+rmNsf23YlMDEDwa2Gb46P8ZDD7Rnq7IwDpsR96JAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEtU2mm3UOK+xwMPK6f23YlMDEDQlGLl9Cg/GcyepGXpBADf3j/+JAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j+uLBR2rZROZGIDA4+E8h29bk8DsQ19vOOz6DWEzMPxxAACqV3h7MAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9jyNb852qZROZGIDgTSCP07etSWC2x0Mzp12/IexDpkVOAKIXqb4wAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j6AfRk7VsolMDECwpGCS47etSWA2COz6DWF7PPxlDwD2uv1kMAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j51yJx2rZROZGIBAK8bU8dvWJDBbvvW03a7fEPabQA97AGFc/fUwAAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j28akx2rZROZGIBgwiFdh29bk8DsN4Ee9rt+Q9ggAADScq3hMAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j8Nbw5yqZROZGIDguvIDx29bk8DsN4Ee9rt+Q9g75GIdAOfegZowAAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D5F15Q7VsolMDEBgbLzR4dvWJDB7h9xHx12/IexZMx84AgDRV3ZcMAAAAA==" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9jx1ye+2rZROZGIBAZN1xu29bk8Bsrushjrt+Q9hVImsdAQBBV/0wAAAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9jyUFc+2rZROZGIDA46GX/betSWD2w6opDrt+Q9jGxjGOALu/8bMwAAAA" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j7NnrjhUyyYyMQDBDrmlDt+2JoHZmjGCTrt+Q9kyOU4AUbn/sDAAAAA=" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYg0D6vxs4ABQDfK67KGAAAAA==" />
    <add key="/intelcpu/0/load/13/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYg0D6vxs4ABQDfK67KGAAAAA==" />
    <add key="/intelcpu/0/load/14/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D1uu67bVsolMDFCwYeNRFhgbADcGLZwkAAAA" />
    <add key="/intelcpu/0/load/15/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYg0D6vxs4ABQDfK67KGAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAIsS+2m7UOK+x8yZmo5cUklMDECwzv2n/betEPasmasddv2GsGP6rzgAALgVyJAwAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D1uucLtq2UQmBiBY5y7q8G1rEpgtsm6qw67fEPabwBn2AEzYtewwAAAA" />
    <add key="/intelcpu/0/load/16/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j5h+N4dq2UQmBiB4E6jj8G1rEpg94ZCrw67fELbousUOAGb1udEwAAAA" />
    <add key="/intelcpu/0/load/17/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D1uu67bVsolMDFCwYeNRFhgbADcGLZwkAAAA" />
    <add key="/intelcpu/0/load/18/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9jzeBN+yqZROZGIBgh9xRu29bk8BskXXH7Xb9ToKLAwDATj6EMAAAAA==" />
    <add key="/intelcpu/0/load/19/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9j6Ad6+yrZROZGIBgh9xRu29bk8Ds1teiDrt+Q9hLCv7aAwDkPLtqMAAAAA==" />
    <add key="/intelcpu/0/load/20/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYgqJZNZGKAgm9bk8Bsj4dc9rt+Q9jfNO7YAQAV0J1tMAAAAA==" />
    <add key="/intelcpu/0/load/21/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D4/EC47VsolMDEBQYLvD8dvWJDBbJE/baddvCFu+9ZojAO7mMS4wAAAA" />
    <add key="/intelcpu/0/load/22/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D80Yfvtq2UQmBiB4E3jC/tvWJDBbvvW03a7fEDYIAADOmFm3MAAAAA==" />
    <add key="/intelcpu/0/load/23/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D7lWZYdq2UQmBiDYITfV4dvWJDD7TaCHw67fEPY695/2AJesf1cwAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGa6eNKxKZGMDA2ulqTSqU7eE0fV48lG3jBACX99IkMAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYDA6eNKxKZGEBgg47T1ZpUCPuDsdP0efEQ9gF9JwD7BHaZMAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYGc6dq2UQmBjDQdfq2NQnK1nfa9RvG1nMCAKSfFn0wAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYGM6dq2UQmBjDQcfq2NQnKNnLa9RvG1nUCACXb5u0wAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwYGM6dq2UQmBjDQc/q2NQnKNnLa9RvG1nUCAEqQrPgwAAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGM6cr5xKYGMBA1+nb1iQo29Bp128YW88JAFTKUpQwAAAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGLacr5xKYGMBAy+nb1iQo29xp128Y29gJAGhiXBIwAAAA" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGLafHkYlMDGCg5fRcKwnKNnfqV0iGso2dAJKBsAEwAAAA" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGbafHkYlMDGCg4/RcKwnKNnfqV0iGso2dAMGh5rMwAAAA" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGHafHkYlMDGCg6/RcKwnKtnDqV0iGso2dAIxONxQwAAAA" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGXaeNKxKZGMBA3UnyDoyt7dSvkAwXBwCxKU12MAAAAA==" />
    <add key="/intelcpu/0/temperature/11/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGTaeNKxKZGMBA3UnyDoyt7dSvkAxl6zgBADENCc4wAAAA" />
    <add key="/intelcpu/0/temperature/12/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGLaeNKxKZGMBAzUnyDoyt69SvkAxlazoBADIUSeEwAAAA" />
    <add key="/intelcpu/0/temperature/13/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGDaeNKxKZGMBAzenliRQo28ypOSgBytZ0AgABra/gMAAAAA==" />
    <add key="/intelcpu/0/temperature/14/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGHaeNKxKZGMBAw+nliRQoW8+pOSgBytZyAgDe0S6vMAAAAA==" />
    <add key="/intelcpu/0/temperature/15/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGU6eNKxKZGMDAyOnliRQo29mpOSgByjZ2AgAGTmNqMAAAAA==" />
    <add key="/intelcpu/0/temperature/16/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGa6eNKxKZGMDA2ulqTSqUbeU0fV48lG3jBAB/gNMvMAAAAA==" />
    <add key="/intelcpu/0/temperature/17/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGa6eNKxKZGMDA2ulqTSqUbeU0fV48lG3jBAB/gNMvMAAAAA==" />
    <add key="/intelcpu/0/temperature/18/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwYGR6eNKxKZGMDA0elqTSqU7eU0fV48lO3gBABrPPcuMAAAAA==" />
    <add key="/intelcpu/0/temperature/19/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9D4aGBqdq2UQmBhBoaHX6tjUJym5x2vUbymZodQIAD7u4kTAAAAA=" />
    <add key="/intelcpu/0/temperature/20/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwaGRqdq2UQmBjBoc/q2NQnKbnba9RvKbmh1AgB0xOr8MAAAAA==" />
    <add key="/intelcpu/0/temperature/21/values" value="H4sIAAAAAAAEAHsp9Mt2ocR9DwaGRqdq2UQmBjBodfq2NQnKbnba9RvKbmh1AgCMKb0OMAAAAA==" />
    <add key="/intelcpu/0/temperature/22/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGRqcr5xKYGECgodXp29YkKLvZaddvKJuh1QkAIlPc9jAAAAA=" />
    <add key="/intelcpu/0/temperature/23/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGdqcr5xKYGMCg3enb1iQIu6HBaddvGLvJCQB04GU0MAAAAA==" />
    <add key="/intelcpu/0/temperature/24/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGdqfHkYlMDGDQ7vRcKwnCbmhw6ldIhrKbnACOA4knMAAAAA==" />
    <add key="/intelcpu/0/temperature/25/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9D4aGNqfHkYlMDGDQ5vRcKwnCbmhw6ldIhrKbnAAKJtgLMAAAAA==" />
    <add key="/intelcpu/0/temperature/26/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGNqfHkYlMDCDQ0Or0XCsJwmZocOpXSIaKNzkBANMV+m8wAAAA" />
    <add key="/intelcpu/0/temperature/27/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9D4aGVqeNKxKZGECgocNJ8g6M3ebUr5AMFwcA2RcwKzAAAAA=" />
    <add key="/intelcpu/0/temperature/28/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9D4aGdqeNKxKZGECgocNJ8g6M3ebUr5AMYTO0OQEAUtzmlDAAAAA=" />
    <add key="/intelcpu/0/temperature/29/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGdqeNKxKZGMCg00nyDpTd0OrUr5AMZbc7AQBFW0YvMAAAAA==" />
    <add key="/intelcpu/0/temperature/30/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGDqeNKxKZGMCg0+nliRQou9GpOSgBwm5odwIAaGBYMTAAAAA=" />
    <add key="/intelcpu/0/temperature/31/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGNqeNKxKZGMCgw+nliRQou9WpOSgBym53AgA8qG0CMAAAAA==" />
    <add key="/intelcpu/0/temperature/32/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9D4aGRqeNKxKZGMCg2enliRQou9SpOSgBwm5ocgIAx1jRADAAAAA=" />
    <add key="/intelcpu/0/temperature/33/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGWqeNKxKZGMCg1ulqTSqUXec0fV48lF3jBAC7yjNcMAAAAA==" />
    <add key="/intelcpu/0/temperature/34/values" value="H4sIAAAAAAAEAJuQ+Mt2ocR9DwaGWqeNKxKZGMCg1ulqTSqUXec0fV48lF3jBAC7yjNcMAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAAt4J2+3UOK+x6T1x52i3ZOYGIBAfN1xp+RHKWC2FJD9Lj8BzBYDsgGqaUoGMAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPNy+m27UOK+x1kPTlermCQmBiC4eOaUy0aeVDD7EpD9qSEBzD4HZAMAWD/V0TAAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAAtd+dd2ocR9j1cenK5rMpOYGIAgO+2WyxfeVDDb7+Ezl8KkBDDb2Hi3CwAWWbOCMAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHsoyGC3UOK+R2qsquvklCQmBiBgYXjlYiafCmZbGO92kYxJALO/aVxxAQAnGcChMAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAOs8wGS3UOK+x5Qbhq4zJJOYGIBg7syfLvxKqWC2C9dFl3cxCWD2uTOnXACuNm79MAAAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPPQZ7VbKHHfgyPjlssVhSQmBiAosl3kEiWdCmZvcud0dY5JALMfVWm4AgBJOHBYMAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAFMMYbdbKHHfY4bJbpes1CQmBiA4+nWLS41qKphtEPPZxSg0AczeISfvCgCy2AwiMAAAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAHu9n9NuocR9j+laV1wqc5KYGIDgwplTLv6SqWA2O8MrF+vIBDD72mJLVwBhApipMAAAAA==" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEACuexWO3UOK+R965Uy58GklMDECwyf26y/RXKWD2wpk/XfiTEsDsa4stXQH304W4MAAAAA==" />
    <add key="/intelcpu/0/clock/9/values" value="H4sIAAAAAAAEALPcyGe3UOK+R/nsny4bopOYGIBg7syfLhM5UsHshUD2mYIEMHsOkA0AHNSk8DAAAAA=" />
    <add key="/intelcpu/0/clock/10/values" value="H4sIAAAAAAAEADv7V8BuocR9j/LZP13mPk9iYgCCuTN/usyYlwJmLwSyf2QmgNlzgGwAUTOlJTAAAAA=" />
    <add key="/intelcpu/0/clock/11/values" value="H4sIAAAAAAAEAHueKmy3UOK+R/nsny7nZiQxMQDB3Jk/Xdb9SQGzFwLZoSkJYHbQjj8uAHEzilIwAAAA" />
    <add key="/intelcpu/0/clock/12/values" value="H4sIAAAAAAAEAOO6KWq3UOK+R/nsny5VvUlMDECgE/PZxY01FcxeOPOny6mYBDB71kwWVwCWpRRpMAAAAA==" />
    <add key="/intelcpu/0/clock/13/values" value="H4sIAAAAAAAEAOPqkLBbKHHfo3z2T5cpnklMDEAwd+ZPF3/OVDB7IZD9PTsBzJ4DZAMA+CjikjAAAAA=" />
    <add key="/intelcpu/0/clock/14/values" value="H4sIAAAAAAAEAHOWlbZbKHHf4y7jK5efqklMDECwR+6ty23uVDBb4Lqh68yYBDB7F1AcAAERPJswAAAA" />
    <add key="/intelcpu/0/clock/15/values" value="H4sIAAAAAAAEAOuulrVbKHHfY4tHp0uzeRITAxBscO90MWJIBbM3AdkRcQlg9nogGwA/o3SpMAAAAA==" />
    <add key="/intelcpu/0/clock/16/values" value="H4sIAAAAAAAEAAt4J2+3UOK+xxaPTpdo9yQmBiDY4N7pkvwoBczeBGS/y08As9cD2QBLXNu3MAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAAt4J2+3UOK+R47qSYdo9yQmBiAwtlnskPwoBcxeInTX4V1+Aph9a99hBwCWPMycMAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAAt4J2+3UOK+x99zig7R7klMDEBQuX6FffKjFDB74nxdh3f5CWA223kmBwAoU5WEMAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAAt4J2+3UOK+BwMQrJmpzs4ABQCEOpMOGAAAAA==" />
    <add key="/intelcpu/0/power/4/values" value="H4sIAAAAAAAEAAt4J2+3UOK+BwMQrJmpzs4ABQCEOpMOGAAAAA==" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEAAt4J2+3UOK+BwMQrJmpzs4ABQCEOpMOGAAAAA==" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEAAt4J2+3UOK+B4OHr/2m2iQmBhB4ZGTPsyYFwubRt5eZnAAXBwCY3SzEMAAAAA==" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEAAt4J2+3UOK+B4NHoP2m2iQmBhDYYWTPsyYFwj5iai8zOQHCrjGxBwCqWqUgMAAAAA==" />
    <add key="/intelcpu/0/voltage/3/values" value="H4sIAAAAAAAEAAt4J2+3UOK+B8M6a/tNtUlMDCCww8yeZ00KhM2jby8zOQHCfmRkDwBz3O+7MAAAAA==" />
    <add key="/intelcpu/0/voltage/4/values" value="H4sIAAAAAAAEADPkUrNbKHHfgyHIw/5iYgwTAwjsMLLnWZMCYR8xtZeZnABh15jYAwAC28quMAAAAA==" />
    <add key="/intelcpu/0/voltage/5/values" value="H4sIAAAAAAAEADPkUrNbKHHfg8FI3/5iYgwTAwgcMrTnWZMCYQeZ2MtMToCwiwztAZM7Y3UwAAAA" />
    <add key="/intelcpu/0/voltage/6/values" value="H4sIAAAAAAAEANM0VbNbKHHfgyHNyv6mWQwTAwgcMrSf+joFwn5jaj85OAHCnmNqDwA1WTxGMAAAAA==" />
    <add key="/intelcpu/0/voltage/7/values" value="H4sIAAAAAAAEANM0VbNbKHHfg6HF2P6mWQwTAwiImNk7iKRC2G9M7V9oJUDYc0ztAYZ/tEgwAAAA" />
    <add key="/intelcpu/0/voltage/8/values" value="H4sIAAAAAAAEANM0VbNbKHHfg8FI3/6mWQwTAwgcMrR3EEmFsD107V9oJUDYQS72AGE3NM0wAAAA" />
    <add key="/intelcpu/0/voltage/9/values" value="H4sIAAAAAAAEANM0VbNbKHHfgyHG3P6mWQwTAwi0mdtr2B9lgbEBQR7YCiQAAAA=" />
    <add key="/intelcpu/0/voltage/10/values" value="H4sIAAAAAAAEANM0VbNbKHHfg8HA2P6mWQwTAwgA2Q4iqRA2h7H9C60EuDgAAU3gUzAAAAA=" />
    <add key="/intelcpu/0/voltage/11/values" value="H4sIAAAAAAAEANM0VbNbKHHfg6HCxP6mWQwTAwj8M7Z3EEmFsKOM7V9oJUDYQDUA0TQgxzAAAAA=" />
    <add key="/intelcpu/0/voltage/12/values" value="H4sIAAAAAAAEANM0VbNbKHHfg8HOzP6mWQwTAwhkmNk7iKRC2EDxF1oJcDYAFgGPDjAAAAA=" />
    <add key="/intelcpu/0/voltage/13/values" value="H4sIAAAAAAAEANM0VbNbKHHfg+GLif1NsxgmBhDIM7V3EEmFsGeY2r/QSoCwD5jaAwDJ/JiAMAAAAA==" />
    <add key="/intelcpu/0/voltage/14/values" value="H4sIAAAAAAAEANM0VbNbKHHfg8HN0P6mWQwTAwj8M7Z3EEmFsN+42r/QSoCwd1jZAwDbawSdMAAAAA==" />
    <add key="/intelcpu/0/voltage/15/values" value="" />
    <add key="/intelcpu/0/voltage/16/values" value="" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinTiming" value="0" />
    <add key="plotPanel.MaxTiming" value="100" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="244" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>